.hr-title {
    margin: 0 auto;
    background-color: #640a02;
    border: 0;
    height: 4px;
    width: 80%;
  }
  
  .icon{
    height: 80px;
  }
  /* Styles pour les petits smartphones */
  @media only screen and (max-width: 480px) {
   
    .icon{
      height: 40px;
    }
    hr {
      display: none;
    }}